.sub-header {
  color: #ffbb33;
}

em {
  color: #ffbb33;
}

.info {
  text-align: left;
}

div.smaller-text {
  font-size: 0.75em;
}
div.single-spaced > p {
  font-size: 0.5em;
  line-height: 0.85 !important;
}

p.smaller-text {
  font-size: 0.75em;
}

ul.smaller-text {
  font-size: 0.75em;
}

.backgrounds {
  opacity: 0.3;
}

div.main-menu {
  padding-left: 20px;
  width: 80%;
  margin: 0 auto;
}

ul ul.dashed {
  list-style-type: none;
}

ul.dashed > li::before {
  content: "- ";
  margin-left: -10px;
}

ul.no-bullets {
  list-style-type: none;
}

ul.no-bullets > li {
  margin-bottom: 20px;
}

.example-container {
  text-align: left;
  border: 2px solid white !important;
  padding: 4px !important;
}

.scrollable {
  bottom: 0px;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
