.sub-header {
  color: #ffbb33;
}

em {
  color: #42affa;
}

.info {
  text-align: left;
}

div.smaller-text {
  font-size: 0.75em;
}

p.smaller-text {
  font-size: 0.75em;
}

ul.smaller-text {
  font-size: 0.75em;
}

.backgrounds {
  opacity: 0.3;
}
